.container {
  /* border: 1px solid black; */
}
.content {
  font-size: 0.7rem;
  /* border: 1px solid black; */
  border: none;
  margin: 1.5rem auto;
  transition: 1s;
  color: rgb(94, 94, 94);
  background-color: white;
}
.content:hover {
  font-weight: 600;
  transition: 0.3s;
  color: black;
}
