.content {
  font-size: 0.7rem;
  margin: 1rem auto;
  border: 1px solid black;
  padding: 0.4rem;
  box-sizing: border-box;
  border-radius: 0.6rem;
  width: 5rem;
  color: rgb(94, 94, 94);
}
.container {
  /* border: 1px solid black; */
}
.container:hover {
  font-weight: 500;
  color: black;
}
/* @media (max-width: 1000px) {
  .content {
    font-size: 0.5rem;
    padding: 0.3rem;
    width: 50%;
    border-radius: 8px;
  }
}
@media (max-width: 800px) {
  .content {
    font-size: 0.4rem;
    /* margin: 1.5rem auto; */
/* } */
