.container {
  /* border: 1px solid black; */
}
.content {
  font-size: 0.7rem;
  /* border: 1px solid black; */
  border: none;
  margin: 1.5rem auto;
  transition: 1s;
  color: rgb(94, 94, 94);
}
.span:hover {
  font-weight: 600;
  transition: 0.3s;
  color: black;
}
button {
  background-color: rgb(249, 249, 249);
}
/* @media (max-width: 1000px) {
  .content {
    font-size: 0.5rem;
    margin: 1.5rem auto;
  }
}
@media (max-width: 800px) {
  .content {
    font-size: 0.4rem;
    margin: 1.5rem auto;
  }
} */
